<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>
<title>Tour Staff - Cobra Golf</title>
<meta http-equiv="Content-Type" content="text/html; charset={charset}">
<meta name="keywords" content="{MetaKeywords}">
<meta name="description" content="{MetaDescription}">

{embed="basic/.globalHead"}

<script type="text/javascript">
    $(document).ready(function() {
        $('ul.cobra-tour-index li:odd').addClass('odd');
        $('ul.cobra-tour-index li:even').addClass('even');
    });
</script>

</head>
<body>
<div class="site-wrapper">
    {embed="basic/.headerNav"}
    <div class="banner-375">
        <img src="/images/tour-pros/overview_banner.jpg" />
    </div>
</div>
<div class="site-wrapper">
    <div class="content">
        <div class="widget single-col">
            <h1 class="stratum header-bar">Meet the Cobra Tour Players</h1>
            <div class="padding">
                <p>Select a player below to learn more about our Cobra Tour Staff players.</p>
                <ul class="cobra-tour-index">
                {exp:channel:entries channel="TourPros" dynamic="no"}
                        <li><a href="{url_title_path="cobra-tour/"}"><img src="{ProThumbnail}" /><span>{ProFirstName} {ProLastName}</span></a></li>
                {/exp:channel:entries}
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>


<div class="clear"></div>
</div>

    {/exp:channel:entries}
    
    {embed="basic/.footer"}
    
    <div id="bottom_cap"></div>
</div>
</body>
</html>