{exp:channel:entries channel="TourPros" limit="1" require_entry="yes"}
{if no_results}
    {embed="cobra-tour/browse"}
{/if}
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>
<title>{ProFirstName} {ProLastName} - Cobra Golf</title>
<meta http-equiv="Content-Type" content="text/html; charset={charset}">
<meta name="description" content="{MetaDescription}">

{embed="basic/.globalHead"}

<script type="text/javascript">
    $(document).ready(function() {
        $('ul.team-members li:last').addClass('last');
    });
</script>

</head>
<body>
<div class="site-wrapper">
    {embed="basic/.headerNav"}
    <div class="banner-375">
        <img src="{ProHeaderImage}" />
    </div>
</div>
<div class="site-wrapper">
    <h1 class="noshow">{ProFirstName} {ProLastName}</h1>
    <div class="content">
        <div class="wide-col col-gutter">
            <div class="widget">
                <h2 class="stratum">About {ProFirstName}</h2>
                <div class="btn-container">
                    <p>Visit the</p><a href="http://www.cobratourblog.com/" target="_blank" class="btn">Cobra Tour Blog</a>
                    {if ProTwitterAccount}<p>Follow {ProFirstName} on</p><a href="http://twitter.com/{ProTwitterAccount}" target="_blank" class="btn twitter">Twitter</a>{/if}
                    <div class="clear"></div>
                </div>
                <div class="padding-15">
                    {ProDescription} 
                
                    <h4 class="header-bar"><span>//</span> Bio Highlights</h4>
                    <ul>
                        {if ProHieght}<li><strong>Height:</strong> {ProHieght}</li>{/if}
                        {if ProWeight}<li><strong>Weight:</strong> {ProWeight}</li>{/if}
                        {if ProBirthday}<li><strong>Birthdate:</strong> {ProBirthday format="%F %d, %Y"}</li>{/if}
                        {if ProBirthplace}<li><strong>Birthplace:</strong> {ProBirthplace}</li>{/if}
                        {if ProTurnedPro}<li><strong>Turned Pro:</strong> {ProTurnedPro}</li>{/if}
                        {if ProCollage}<li><strong>Collage:</strong> {ProCollage}</li>{/if}
                    </ul>

                    {if ProInTheBag}
                    <h4 class="header-bar"><span>//</span> In the Bag</h4>
                    {ProInTheBag}
                    {/if}
                    
                    {if ProSeasonSummary}
                    <h4 class="header-bar"><span>//</span> Season Summary</h4>
                    {ProSeasonSummary}
                    {/if}
                    
                    {if ProCareerHighlights}
                    <h4 class="header-bar"><span>//</span> Career Highlights</h4>
                    {ProCareerHighlights}
                    {/if}
                    
                    
                </div>
            </div>
        </div>
        <div class="slim-col">
            <div class="widget dark player-gallery">
                <div class="padding-9">
                    <div class="main-img"><img src="/images/players/LexiThompson/01.jpg" /></div>
                    <h3>Gallery</h3>
                    <h5>{ProName}</h5>
                    <ul class="thumbnails">
                        <li><a href="#"><img src="/images/players/LexiThompson/01-thumb.jpg" /></a></li>
                        <li><a href="#"><img src="/images/players/LexiThompson/01-thumb.jpg" /></a></li>
                        <li><a href="#"><img src="/images/players/LexiThompson/01-thumb.jpg" /></a></li>
                        <li><a href="#"><img src="/images/players/LexiThompson/01-thumb.jpg" /></a></li>
                        <li><a href="#"><img src="/images/players/LexiThompson/01-thumb.jpg" /></a></li>
                        <li><a href="#"><img src="/images/players/LexiThompson/01-thumb.jpg" /></a></li>
                        <li><a href="#"><img src="/images/players/LexiThompson/01-thumb.jpg" /></a></li>
                        <li><a href="#"><img src="/images/players/LexiThompson/01-thumb.jpg" /></a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
            
            {embed="cobra-tour/.browseRight"}

        </div>
        <div class="clear"></div>
    </div>


    
    {embed="basic/.footer"}
</div>
</body>
</html>
{/exp:channel:entries}