		<div class="half-col">
			<div class="widget dark footer-widget">
                <div id="club-selector-container">
					<script type="text/javascript">
                        var flashvars = {};
                        var params = {
                            allowScriptAccess: "sameDomain",
                            allowFullScreen: "false",
                            quality: "high",
                            wmode: "transparent",
                            bgcolor: "#ffffff",
                            flashvars: "xmlr2=/xml/cg_matrix_answers.xml&xmlr3=/xml/cg_matrix_groups.xml&aligned=bttm"
                        };
                        var attributes = {};
                        swfobject.embedSWF("/images/flash/quickfit.swf", "club-selector", "466px", "269px", "9.0.0", "expressInstall.swf", flashvars, params, attributes);
                    </script>
					<div id="club-selector"></div>
                </div>
                <div class="clear"></div>
			</div>
		</div>