		<div class="half-col col-gutter">
			<div class="widget dark footer-widget">
				<div class="padding-9">
					<h3>Find a retail or demo location</h3>
					<div class="dealer-locator rounded padding-9">
						<div class="span-5 last">
							<h6>Select your country:</h6>
							<dl id="locator_country_select" class="dropdown">
								<dt><a><span>Select a Country</span></a></dt>
								<dd>
									<ul>
										<li><a href="http://www.cobragolf.com.au/au_locator.aspx"><img class="flag" src="/images/international/flag_AU.gif"><span>Austrailia</span></a></li>
										<li><a href="http://www.cobragolf.de/dealers/default.asp"><img class="flag" src="/images/international/flag_AT.gif"><span>Austria</span></a></li>
										<li><a href="http://www.cobragolf.ca/locator.aspx"><img class="flag" src="/images/international/flag_CA.gif"><span>Canada</span></a></li>
										<li><a href="http://www.cobragolf.com.fr/dealers/default.asp"><img class="flag" src="/images/international/flag_FR.gif"><span>France</span></a></li>
										<li><a href="http://www.cobragolf.de/dealers/default.asp"><img class="flag" src="/images/international/flag_DE.gif"><span>Germany</span></a></li>
										<li><a href="http://www2.cobragolf.co.jp/shop/"><img class="flag" src="/images/international/flag_JP.gif"><span>Japan</span></a></li>
										<li><a href="http://cobragolf.co.kr/shop/shop.shtml"><img class="flag" src="/images/international/flag_KR.gif"><span>Korea</span></a></li>
										<li><a href="http://www.cobragolf.com.my/dealers/default.asp"><img class="flag" src="/images/international/flag_MY.gif"><span>Myanmar</span></a></li>
										<li><a href="http://www.cobragolf.com.sg/dealers/default.asp"><img class="flag" src="/images/international/flag_SG.gif"><span>Singapore</span></a></li>
										<li><a href="http://www.cobragolf.se/customfitting/default.asp"><img class="flag" src="/images/international/flag_SE.gif"><span>Sweden</span></a></li>
										<li><a href="http://www.cobragolf.de/dealers/default.asp"><img class="flag" src="/images/international/flag_CH.gif"><span>China</span></a></li>
										<li><a href="http://www.cobra.co.th/dealers/default.asp"><img class="flag" src="/images/international/flag_TH.gif"><span>Thailand</span></a></li>
										<li><a href="http://www.cobragolf.co.uk/cggb_locator.aspx"><img class="flag" src="/images/international/flag_UK.gif"><span>United Kingdom</span></a></li>
									</ul>
								</dd>
							</dl>
						</div>
						<form method="get" action="/locator.aspx#results" id="locator_widget">
						<div id="zip_search" class="span-6">
							<h6>Please enter your ZIP code.</h6>
							<fieldset>
								<input type="text" id="zip" name="postalcode">
								<input type="submit" value="Search" id="dealer_search" name="dealer_search" class="btn">
							</fieldset>
						</div>
						</form>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>