<script type="text/javascript" src="/js/jquery1.4.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.4.custom.min.js"></script>
<script type="text/javascript" src="/js/swfObject2.2.js"></script>
<script type="text/javascript" src="/js/products.js"></script>
<script type="text/javascript" src="/js/paginatedgallery.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/fancyzoom.min.js"></script>
<script type="text/javascript" src="/js/clubs.js"></script>

<link rel="stylesheet" type="text/css" media="all" href="/css/screen.css">
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
<link rel="stylesheet" type="text/css" media="screen" href="/css/top_nav.css">
<link rel="stylesheet" type="text/css" media="screen" href="/css/products.css">
<link rel="stylesheet" type="text/css" media="screen" href="/css/clubs.css">

<!-- 
<script type="text/javascript" src="/js/jquery.fancybox-1.3.1.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/css/jquery.fancybox.1.3.1.css">
 -->
<link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">

<script type="text/javascript">
	$(document).ready(function() {
		$("#top_links .dropdown").hover(function() {
			$("#top_links .dropdown dd ul").toggle();
			$("#top_links .dropdown dt a").addClass("hover");
		});
		$("#top_links .dropdown").mouseleave(function() {
			$("#top_links .dropdown dt a").removeClass("hover");
		});
		$("#top_links .dropdown dd ul li a").click(function() {
			$("#top_links .dropdown dd ul").toggle();
		});
		
		$(".dealer-locator .dropdown").hover(function() {
			$(".dealer-locator .dropdown dd ul").toggle();
			$(".dealer-locator .dropdown dt a").addClass("hover");
		});
		$("#top_links .dropdown").mouseleave(function() {
			$(".dealer-locator .dropdown dt a").removeClass("hover");
		});
		$(".dealer-locator .dropdown dd ul li a").click(function() {
			$(".dealer-locator .dropdown dd ul").toggle();
		});
	});
</script>