<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>
<title>Cobra Golf</title>
<meta http-equiv="Content-Type" content="text/html; charset={charset}">
<meta name="description" content="{MetaDescription}">

{embed="basic/.globalHead"}
<script type="text/javascript" src="/js/jquery.cycle.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".dropdown").hover(function() {
            $(".dropdown dd ul").toggle();
        });
        
        $(".dropdown dd ul li a").click(function() {
            $(".dropdown dd ul").toggle();
        });
        
        $('.slideshow').cycle({
            fx: 'fade',
                speed:  'slow',
                timeout: 4000,
                pager:  '.slideshow-nav',
                autostop: 5
        });
		
		$("div.five-column div.column:nth-child(5)").addClass("last");
    });
</script>


</head>
<body>
<div class="site-wrapper">
    {embed="basic/.headerNav"}
</div>

<div class="site-wrapper header">
    <div class="slideshow-container">
        <div class="slideshow-nav-container">
            <div class="slideshow-nav-left"></div>
            <div class="slideshow-nav"></div>
            <div class="slideshow-nav-right"></div>
            <div class="clear"></div>
        </div>
        <div class="slideshow">
            <img src="/images/home/banner_baffler.jpg" alt="Designed To Keep your Long Shots From Becoming Longshots." usemap="#map-one" />
            <img src="/images/home/banner_s2iron.jpg" alt="Pick A Spot And Stick It." usemap="#map-two" />
            <img src="/images/home/banner_s2max.jpg" alt="Looks. Feel. Easy to Hit. Now That's Game Improvement" usemap="#map-three" />
            <img src="/images/home/banner_2010drivers.jpg" alt="Gold Goes A Long, Long Way." usemap="#map-four" />
        </div>
        <map name="map-one">
          <area shape="rect" coords="203,219,383,257" href="#" alt="Baffler Rail Fairway" />
          <area shape="rect" coords="383,219,559,257" href="#" alt="Baffler Rail Hybrid" />
        </map>
        <map name="map-two">
          <area shape="rect" coords="187,217,308,249" href="#" alt="Cobra S2" />
          <area shape="rect" coords="308,217,470,249" href="#" alt="Cobra S2 Forged" />
        </map>
        <map name="map-three">
          <area shape="rect" coords="426,211,588,241" href="#" alt="Cobra S2 Max" />
        </map>
        <map name="map-four">
          <area shape="rect" coords="0,201,108,230" href="#" alt="Cobra S2" />
          <area shape="rect" coords="108,201,226,230" href="#" alt="Cobra ZL" />
        </map>
    </div>
</div>

<div class="site-wrapper" style="background:transparent url(/images/bg-shadow.jpg) no-repeat top center;">
    <div class="content">
        {embed="basic/.dealerBody"}
        {embed="basic/.clubSelector"}
        <div class="clear"></div>
        <div class="five-column">
{exp:channel:entries channel="HomepageFeatures" dynamic="no"}
<!--last-->
            <div class="column ">
            <a href="{HPURL}" {if  HPNewWindow == "Yes"} target="_blank" {/if}>
                <img src="{HPImage}">
                <span>{title}</span><br />
                {HPShortDesc}
            </a>
            </div>
{/exp:channel:entries}
            
            <div class="clear"></div>
        </div>
    </div>


                
<script type="text/javascript">
var zenbox_params = {};
zenbox_params.tab_id = "ask_us";
zenbox_params.tab_color = "black";
zenbox_params.title = "Cobra Golf Customer Service";
zenbox_params.text = "How may we help you? Please fill in details below, and we'll get back to you as soon as possible.";
zenbox_params.tag = "dropbox";
zenbox_params.url = "cobragolf.zendesk.com";
</script>

                
    {embed="basic/.footer"}
</div>
</body>
</html>