<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>
{exp:channel:entries channel="general" limit="1" require_entry="yes"}
{if no_results}
	content
{/if}

<title>{title} - Cobra Golf</title>
<meta http-equiv="Content-Type" content="text/html; charset={charset}">
<meta name="keywords" content="{MetaKeywords}">
<meta name="description" content="{MetaDescription}">

{embed="basic/.globalHead"}

</head>
<body>
<div class="site-wrapper">
	{embed="basic/.headerNav"}
</div>

<div class="site-wrapper">
	<div class="content">
		<div class="widget single-col">
			<h1 class="stratum header-bar">{title}</h1>
			<div class="padding">
				{GeneralBody}
			</div>
		</div>
		{/exp:channel:entries}
	</div>
</div>
{embed="basic/.footer"}
<div id="bottom_cap"></div>
</body>
</html>