<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>

<title>Women's Golf Clubs - Cobra Golf</title>
<meta http-equiv="Content-Type" content="text/html; charset={charset}">
<meta name="keywords" content="{MetaKeywords}">
<meta name="description" content="{MetaDescription}">

{embed="basic/.globalHead"}

<script type="text/javascript">
    $(document).ready(function() {
		$("ul.product-list li.product:last").addClass("last");

        $(".dropdown").hover(function() {
            $(".dropdown dd ul").toggle();
        });
        
        $(".dropdown dd ul li a").click(function() {
            $(".dropdown dd ul").toggle();
        });
    });
</script>

</head>
<body>
<div class="site-wrapper">
    {embed="basic/.headerNav"}

    <div id="banner" class="clear">
        <img src="/images/clubs/womens_overview.jpg" alt="Women's Golf Clubs" width="960" height="314">
    </div>
</div>
<div class="site-wrapper">
    <h1 class="noshow">Women's Golf Clubs</h1>
    
    <div class="content">
        
        <div class="half-col col-gutter">
            {embed="golf-clubs/.browseWidget" catID="14" gender="womens" comparison_image="/images/clubs/comparison_women_driver.jpg"}
            {embed="golf-clubs/.browseWidget" catID="15" gender="womens" }
        </div>
        
        <div class="half-col">
            {embed="golf-clubs/.browseWidget" catID="17" gender="womens"}
            {embed="golf-clubs/.browseWidget" catID="16" gender="womens" comparison_image="/images/clubs/comparison_women_irons.jpg" }
        </div>
        
        <div class="clear"></div>

    </div>

    {/exp:channel:entries}

    {embed="basic/.footer"}
</div>
</body>
</html>