<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>
{exp:channel:entries channel="Press" limit="1"}

<title>{title} - Cobra Golf</title>
<meta http-equiv="Content-Type" content="text/html; charset={charset}">
<meta name="keywords" content="{MetaKeywords}">
<meta name="description" content="{MetaDescription}">

{embed="basic/.globalHead"}

<script type="text/javascript">
    $(document).ready(function() {
        $('ul.team-members li:last').addClass('last');
    });
	$(function() {
		$(".accordion").accordion({active:true, autoHeight:false, collapsible:true});
	});
</script>

</head>
<body>
<div class="site-wrapper">
    {embed="basic/.headerNav"}

</div>
<div class="site-wrapper">
    <div class="content">
        <div class="wide-col col-gutter">
            <div class="widget">
                <div class="padding-15">
                	<h5 class="header-bar">{PressReleaseDate format="%F %d, %Y"}</h5>
                    <h3>{title}</h3>
                    <h4>{PressSubTitle}</h4>
                    <br />
                    {PressBody}
                </div>
            </div>
        </div>
        <div class="slim-col">
			{/exp:channel:entries}
            <div class="widget dark press-releases">
                <div class="padding-9">
                    <h3>Press Releases</h3>
                    
                    <div class="accordion">
                    	<h3><a href="#">2010</a></h3>
                    	{exp:channel:entries channel="Press" dynamic="no" year="2010" }
                        <div><a href="{url_title_path="press-releases/"}"><p>{PressReleaseDate format="%F %d, %Y"}<br /><strong>{title}</strong></p></a></div>
                        {/exp:channel:entries}
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    {/exp:channel:entries}
    {embed="basic/.footer"}
</div>
</body>
</html>